#name {
  font-size: 30px;
}
/* #name{
    font-size: 30px;
    background-color: aqua;
} */

#shopCart {
  width: 60px;
  /* height: 50px; */
  float: right;
  margin-right: -150px;
}
.cart {
  /* float: right; */
  position: static;
  
  /* padding: 0px 20px; */
  margin-right: 6px;
}

.cart_icon {
  /* position: absolute;
  right: 1353px;
  top: 5px; */
  /* padding-top: 1.00rem; */
  padding-left: 1.50rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.125rem;
}

.cart_icon2 {
  margin-top: -0.5rem;
}

 .navbar-brand {
   position: static;
   margin: auto;
 }

 @media (min-width: 990px) {
   .collapse {
     padding-left: 50px;
   }

   .navbar-brand {
    position: relative;
    padding-left: 20px;
  }
 }