#name {
  font-size: 30px;
}
/* #name{
    font-size: 30px;
    background-color: aqua;
} */

#shopCart {
  width: 60px;
  /* height: 50px; */
  float: right;
  margin-right: -150px;
}
.cart {
  padding: 0px 20px;
}
