#name {
  font-size: 30px;
}


#shopCart {
  width: 60px;
  float: right;
  margin-right: -150px;
}
.cart {
  position: static;
  margin-right: 6px;
}

.cart_icon {
  padding-left: 1.50rem;
  padding-right: 0.20rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.125rem;
}

.cart_icon2 {
  margin-top: -0.5rem;
}

 .navbar-brand {
   position: static;
   margin: auto;
 }
 .navbar-brand a:hover {
  color: #998100;
}

 @media (min-width: 990px) {
   .collapse {
     padding-left: 50px;
   }

   .navbar-brand {
    position: relative;
    padding-left: 20px;
  }
 }